* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-color: #1f2041;
    
}
/* navbar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    background-color: lightblue;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.logo img {
    height: 180px;
    width: 200px;
    padding: 20px;
}
button {
    font-size: 20px;
    padding: 10px;
    margin-right: 30px;
    background-color: #934683;
    border-style: none;
    color: #2d1115;
    border-radius: 5px;
}

/* main */
main {
    height: 81vh;
}

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d1115;
}
.box-main h1 {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
.sub-box {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff0f5;
    height: 400px;
    width: 425px;
    border-radius: 5px;

}
.sub-box hr {
    background-color: #2d1115;
    height: 4px;
    margin: 0 15px;
    margin-bottom: 10px;
}
label {
    margin-left: 20px;
    margin-bottom: 5px;
}
label , input{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
input {
   width: 350px;
   height: 30px;
   margin: auto;
   background-color: lightblue;
   border-style: none;
   border-radius: 5px;


}
input::placeholder {
    font-size: 13px;
    text-transform: none;
    color: #2d1115;
    padding: 0 10px;
}
textarea {
    background-color: lightblue;
    height: 60px;
    display: block;
    margin: auto;
    width: 350px;
    margin-bottom: 15px;
    border-style: none;
    border-radius: 5px;
    font-weight: 700;

}
textarea::placeholder {
    font-size: 13px;
    text-transform: none;
    color: #2d1115;
    padding: 5px 10px;
    font-weight: 700;
}
button{
    width: 100px;
    color: #1f2041;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    background-color: #1f2041;
    color: #fff0f5;
}

/* footer */
footer {
    background-color: lightblue;
    text-align: center;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p , a {
    font-size: 18px;
    color: #2d1115;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: black;
}

@media screen and (max-width: 700px){
    .sub-box {
        width: 300px;
    }
    .sub-box h1 {
        font-size: 20px;
    }

    label {
        font-size: 16px;
    }
    input , textarea {
        width: 250px;
    }
    input[type='submit']{
        font-size: 16px;
    }
    .sub-box {
        height: 450px;
    } 
}
